.topHeader {
  background-color: #ecf0f1;
  margin-bottom: 10px;
  width: 100%;
}

.numberOfTeams { 
  width: 70px; 
  display: inline-block;
}

#inlineCheckbox1 {
  display: inline-block;
  min-height:15px;
  min-width:15px;
}


.team-input{
  display: block;
  margin: 6px 0px 6px 0;
}

.team-input label {
  min-width: 25px;
  padding: 0 5px 0 0;
}

input.form-control {
  display: inline-block;
}
input.form-control.classWeight {
  /*display: none;*/
}
.team-input input[type="text"] {
  max-width: 75%;
}

input[type="text"]#league_name {
  max-width: 500px;
}

.classWeight {
  width: 60px;
  display: inline-block;
}

@media (min-width: 1025px) {
  .classWeight {
    width: 65px;
  }
  
}

.teamResults {
  display: inline-block;
}

#submit {
  margin-top: 10px;
  margin-bottom: 50px;
}

#lotteryPic {
  display: block;
  width: auto;
  max-width: 100% ;
  height: auto ;
  margin-bottom: 100px;
}

@media only screen and (max-device-width: 480px)   {
.generateOrder {
  width: 100%;
}

}

/******draft results ********/

.draftPick {
  margin-right: 10px;
}

.teamResults{
  padding-left: 10px;
  margin-bottom: 0px;
}

.team-results {
  margin-bottom: 10px;
}

#leagueName {
  padding-bottom: 10px;
}

.tableResults {
  width: 100% !important;
  margin-bottom: 100px;
}

body {
  padding-bottom: -70px;
}

/*******footer*****/
footer {

  border-top: 0.01em solid black;
  background: #343a40!important;
  margin-bottom: 0px;

}